<h2>Template: Básicos</h2>
<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="guardar()" #miFormulario="ngForm" autocomplete="off">

      <!--Campo Producto-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text" class="form-control"
          ngModel
          name="producto"
          placeholder="Nombre del producto"
          required
          minlength="3">
          <!--Cuandoe el campo formulario es invalido y ha sido tocado salta el error-->
          <span *ngIf="nombreValido()"
           class="form-text text-danger">Debe de ser de 3 letras</span>
        </div>
      </div>

       <!--Campo Precio-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
           class="form-control"
           ngModel
          name="precio"
           placeholder="Precio del producto"
           required>
        </div>
      </div>

       <!--Existencias del Product-->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number" class="form-control"
          ngModel
          name="existencias"
          placeholder="Existencias del producto">
        </div>
      </div>

      <!--Boton de Submit-->
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary float-end">Guardar</button>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="row">
  <div class="col">
    <span>Valid</span>
    <!--Si es false el formulario no es valido-->
    <pre>{{miFormulario.valid | json}}</pre>

    <span>Pristine</span>
    <!--Nos dice que no se cambiaron ninguno de los valores con los que se presento el formulario-->
    <pre>{{miFormulario.pristine}}</pre>

    <span>Touched</span>
    <!--Significa que se toco el formulario aunque no se cambio nada-->
    <pre>{{miFormulario.touched}}</pre>

    <span>Pristine</span>
    <pre>{{miFormulario.value | json}}</pre>
  </div>
</div>
